*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary: #f7d060;
  --button: #ff6d60;
  --light: #f3e99f;
  --bg: #98d8aa;
  --box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px,
    rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--bg);
  height: 100vh;
  text-align: center;
  font-family: "Roboto", sans-serif;
}

:is(input[type="button"], input[type="reset"]) {
  background-color: var(--button);
  border-radius: 0.6rem;
  border: 1px solid;
  font-weight: bold;
  color: #fff;
  cursor: pointer;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px,
    rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;

  position: relative;
  top: -6px;
  border: 0;

  &:active:focus,
  :focus:hover,
  focus {
    outline: medium none;
  }

  &:active {
    top: 2px;
  }

  &:hover{
    transform: scale(1.08);
  }
}

input[readonly] {
  margin: 1rem;
}

input {
  border: 1px solid var(--light);
  box-shadow: var(--box-shadow);
  border-radius: 5px;
  padding: 0.4rem;
}

form {
  display: flex;
  flex-direction: column;
  background-color: var(--primary);
  padding: 3rem;
  border: 1px solid var(--primary);
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px,
    rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

h2 {
  margin-bottom: 1rem;
}

label[for="weight"] {
  margin-top: 1rem;
}

/* changed with javascript */
.error{
  color: red;
}

.good{
  color: green;
}

.regular{
  color: #000;
}

@media (width < 320px) {
  form {
    width: 16rem;
  }
}
